<!-- begin::Aside
-->
<div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
  <!-- begin::Brand
  -->
  <div class="brand flex-column-auto justify-content-center" id="kt_brand" style="height: 80px;">
    <!-- begin::Logo
    -->
    <%= link_to "/", class: "brand-logo" do %>

    <% end %>
    <!-- end::Logo
    -->
    <!-- begin::Toggle
    -->

    <!-- end::Toolbar
    -->
  </div>
  <!-- end::Brand
  -->
  <!-- begin::Aside Menu
  -->
  <div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
    <!-- begin::Menu Container
    -->
    <div class="aside-menu my-4" data-menu-dropdown-timeout="500" data-menu-scroll="1" data-menu-vertical="1" id="kt_aside_menu">
      <!-- begin::Menu Nav
      -->
      <ul class="menu-nav">
        <li aria-haspopup="true" class="menu-item mb-4 <%= sidebar_class('users', ['index']) %>">
          <%= link_to "", class: "menu-link" do %>
            <span class="svg-icon menu-icon">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-friends" class="svg-inline--fa fa-user-friends fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="currentColor" d="M192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C51.6 288 0 339.6 0 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zM480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm48 32h-3.8c-13.9 4.8-28.6 8-44.2 8s-30.3-3.2-44.2-8H432c-20.4 0-39.2 5.9-55.7 15.4 24.4 26.3 39.7 61.2 39.7 99.8v38.4c0 2.2-.5 4.3-.6 6.4H592c26.5 0 48-21.5 48-48 0-61.9-50.1-112-112-112z" style="fill: #fff;"></path></svg>
            </span>
            <span class="menu-text">All Users</span>
          <% end %>
        </li>

          <li aria-haspopup="true" class="menu-item mb-4">
            <%= link_to destroy_administrator_session_path, method: :delete, class: "menu-link" do %>
              <span class="svg-icon menu-icon">
                <svg width="27" height="22" viewBox="0 0 27 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.6647 11.7377L17.2065 21.1719C16.4514 22.0142 15.1423 21.4246 15.1423 20.2172V14.8263H8.29523C7.62563 14.8263 7.08692 14.2254 7.08692 13.4785V8.0876C7.08692 7.34073 7.62563 6.73987 8.29523 6.73987H15.1423V1.34893C15.1423 0.147199 16.4463 -0.44805 17.2065 0.394284L25.6647 9.82843C26.133 10.3563 26.133 11.2099 25.6647 11.7377ZM10.3091 20.8911V18.6449C10.3091 18.2742 10.0372 17.971 9.70493 17.971H5.47583C4.5847 17.971 3.86475 17.168 3.86475 16.174V5.39213C3.86475 4.39818 4.5847 3.59515 5.47583 3.59515H9.70493C10.0372 3.59515 10.3091 3.29191 10.3091 2.92129V0.675062C10.3091 0.304435 10.0372 0.00119436 9.70493 0.00119436H5.47583C2.80747 0.00119436 0.642578 2.41589 0.642578 5.39213V16.174C0.642578 19.1503 2.80747 21.5649 5.47583 21.5649H9.70493C10.0372 21.5649 10.3091 21.2617 10.3091 20.8911Z" fill="white"/>
                </svg>
              </span>
              <span class="menu-text">Logout</span>
            <% end %>
          </li>

      </ul>
      <!-- end::Menu Nav
      -->
    </div>
    <!-- end::Menu Container
    -->
  </div>
  <!-- end::Aside Menu
  -->
</div>
<!-- end::Aside
-->
